*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --card-border-color: #746615;
    --card-color-primary: #f7dd43;
    --card-bg-color: #1d1c19;
    --bg:  url(/assets/bg-yellow.svg);
    
}
body.blue {
    --card-border-color: #338af3;
    --card-color-primary: #338af3;
    --card-bg-color: #202024;
    --bg: url(/assets/bg-blue.svg);
}
body.green {
    --card-border-color: #047c3f;
    --card-color-primary: #047c3f;
    --card-bg-color: #1a1f18;
    --bg: url(/assets/bg-green.svg);
}
ul {
    list-style: none;
}


.card hr {
    opacity: 0.2;
}
body{
    background-color: #010127;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

body * {
    font-family: 'Roboto', sans-serif;
}
#app {
    margin: auto;
    padding-top: 52px;
}
/*Pagina inicial*/
#menu {
    color: #e1e1e6;
    align-items: center;
    text-align: center;
    position: relative;
}
#menuUm {
    align-items: center;
    display: flex; 
    justify-content:center;
    z-index: 2; 
    width: 100%; 
}

button {
    color: #e1e1e6;
    background: none;
    cursor: pointer;
    border: 1px solid #e1e1e646;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 1rem;
}
button:hover{
    opacity: .5;
    color:#5eda0b;
}

/*Fase de grupo*/

header {
    margin-bottom: 63px;
    text-align: center;
}
#cards, 
#classificar, 
#bloco,
#creat{
    display: none;
    flex-wrap: wrap;
}
.show{
    display: block;
}

.card {
    padding: 32px 23px;
    text-align: center;
    background: var(--card-bg-color);
    border-bottom: 2px solid var(--card-color-primary);
    border-radius: 6px;
}
.card h2, .cardTwo h2 {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;  
    padding: 8px 16px;
    border: 1px solid var(--card-border-color);
    border-radius: 6px;
    width: fit-content;
    margin-inline: auto;
    margin-bottom:15px;
    color: #f7dd43;
}
.card h2 span {
    color: #e1e1e6;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 0;
}
.time{
    padding: 0;
    color: white;
    margin: 0  0  0 38%;
}
.card ul li {
    gap: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card ul li strong {
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;
    color:#e1e1e6;
}
.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover,
.time:hover{
    transform: scale(1.1);
    opacity: 0.5;
}
.card h2,
.card ul li strong,
.card ul li img,
.time {
    transition: transform 0.3s;
}

/* Classificação */
.cardTwo {  
    padding: 32px 23px;
    text-align: center;
    background: var(--card-bg-color);
    margin: auto;
    border-bottom: 2px solid var(--card-color-primary);
    border-radius: 6px;
}
.classificacao {
    text-transform: uppercase;
   text-align: start;
}
.classificacao img{
    width: 20px;
    margin-right: 5px;    
}

.classificarPontos{
    color:#e1e1e6;
    font-family: sans-serif;
    font-size: 14px;
    
}

#distancia{
    padding-right: 100px;
}
.classificarPontos td{
    padding-right: 25px;

}

/*Mata-mata*/
#oitavas, 
#quartas,
#semi,
#final{
    display: inline-block;  
}

#quartas div:nth-child(2){
    margin: 45px 10px 85px 10px;
}
#semi div:nth-child(2){
    margin: 125px 10px 225px 10px;
}
#final div:nth-child(2){
    margin: 265px 0;
}
.cardi {
    padding: 5px 0;
    background: var(--card-bg-color);
    border: 2px solid var(--card-color-primary);
    border-radius: 6px;
    margin: 10px 0;
}
#cardiUm{
    padding: 0 130px 0 0;
    margin: 0;
    font-size: 1px;
    opacity: 0;
}
.cardi img{
    width: 18px;
    margin-right: 5px;
}
.last{
    color:#e1e1e6;
    font-size: 16px;
}
.card, .cardi, .cardTwo{
    animation: appear 1s forwards;
}

/*Curiosidades*/
.endCard { 
    width: 300px;
    height: 450px;
    justify-content: space-between;
    align-items: center; 
    padding: 80px;
}
.endCard h1{
    padding: 45px 0 0 0; 
    margin-top: 30px;
}
.endCard p {
    margin-bottom: 10px;
    text-align: left;
}

.endCard:nth-child(2){
    padding: 90px 0 0 40px;
}
.endCard:nth-child(2) h1 {
    padding: 80px 10% 0 0;
    margin: 20px 0px 20px 0;
    font-size: 20px;
}
.endCard:nth-child(3),
.endCard:nth-child(4){
    padding: 90px 30px 0 50px;
}
.endCard:nth-child(3) h1{
    margin-top: 105px;    
}

.endCard:nth-child(4) h1{
    margin-top: 90px;    
}
/*Principal*/
main{
    color: #e1e1e6;
    position: relative;
    opacity: .6;
    margin: 0 25px 0 30px;
    align-items: flex-start;}
main h3 {
    text-align: center;
    margin: 15px 0 10px 0;
    
}
@keyframes appear {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*Responsividade*/
@media (max-width: 1400px) and (min-width: 900px) {
    #cards{
        flex-direction: column;
        gap: 32px;
        flex-direction: row;
        margin-left: 10px;
    }
    .cardTwo{
        flex-direction: column;
        gap: 32px;
        margin: 10px;
        margin-left: 10px;
    }

}
@media (max-width:899px) {
    #cards{
        flex-direction: row;
        gap: 32px;
        margin-top: 10px;
        margin-left: 10px;
        justify-content: space-around;   
    }

    .cardTwo{
        flex-direction: column;
        gap: 32px;
        margin: 10px;
        margin-left: 10px;
        
    }

}

@media (max-width: 800px) {
    #bloco {
        flex-direction: column;
        white-space: nowrap;
    }
    
}